@import "~bootstrap/scss/bootstrap";
@import "~@fortawesome/fontawesome-free/css/all.min.css";

body {
  // background-color: antiquewhite;
  background: url('https://i.pinimg.com/736x/4e/5e/05/4e5e05d394178cc2ce32b06e886310fa.jpg');
  color: brown;
  text-align: center;
  margin-top: 100px;
}

.navbar-light .navbar-brand {
  color: orangered;
}

#main-container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  margin-top: 100px;
  align-content: center;
}

#boards {
  width: 90%;
  display: flex;
  flex-flow: row wrap;
  text-align: center;
  margin: auto;
  justify-content: center;
}

.card {
  width: 300px;
  margin: 5px;
}

#pins {
  width: 90%;
  display: flex;
  flex-flow: row wrap;
  text-align: center;
  margin: auto;
  justify-content: center;
}

#form-container {
  width: 50%;
  margin: auto;
  justify-content: center;
  color: white;
}
